@font-face {
	font-family: "ralewayregular";
	src: url("../fonts/ralewayregular/ralewayregular.woff") format("woff"),
			 url("../fonts/ralewayregular/ralewayregular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}